
#mainwrapper {
  margin:0px;
  width:100%;
  background:#fff url(../images/background.jpg) repeat-x 0 0;
	margin:0 auto;
	color:black;
	font-family: Georgia, Serif;
}
p {
  margin: 0 0 10px 0;
  clear:both;
  text-align:justify;
}
ol {
    list-style-type: decimal;
    list-style-position:inside;
    color:#000;
}
ul {
    list-style-type: disc;
    list-style-position:inside;
    color:#000;
    margin:0px;
    padding:0px;
}
.item-list ul li {
  margin:0px;
  padding:0px;
}

ul li {
    list-style-type: disc;
    color:#000;
    list-style-position:inside;
}
fieldset {
    border: 1px solid silver;
    margin: 0 0 1.2em;
    padding: 0.6em 2%;
    color:#222;
}


/* Form elements */
form {
  padding: 15px 25px 25px 20px;
  border: 1px solid #F0F0F0;
  background: #f8f8f8;
}
form p {
  padding: 12px 0 5px 0;
  margin: 0;
  color: #A45E35;
}
label {
  font-weight: bold;
  color: #8D122D;
}
input, select, textarea {
  margin: 5px 0;
  padding: 5px;
  color: #6A6969;
  border-width: 1px;
  border-style: solid;
  border-color: #ebebeb silver silver #ddd;
}
input.form-submit:focus {
  border-color: #d4d4d4 #ebebeb #ebebeb #d4d4d4;
}
input:focus, select:focus, textarea:focus {
  color: silver;
  background: #FAFAF2;
}
input.form-text, input.form-textarea {
  width: 90%;
}
fieldset {
  border: 1px solid #D3C3C8;
  margin: 1em 0;
  padding: 1em;
}
fieldset legend {
  padding: 0 6px 0 0;
}
fieldset legend a:link {
  color: #000;
}
.region-search-box form {
  background:none;
  margin:0px;
  padding:0px;
}
.search-form input {
    margin-bottom: 5px;
    margin-top: 5px;
}
input[type="checkbox"] {
margin: 3px 3px 3px 4px;
}
label {
    display: block;
    font-weight: bold;
    color:#222;
}
hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}
h1, h2, h3, h4, h5, h6 {
  color:#000;
  margin-bottom:10px;
}
h1 {
  font-size: 3em;
  letter-spacing:-1px;
}
h1.title {
  font-size: 3em;
  letter-spacing:-1px;
}

h2 {
  font-size: 2em;
}
h2.block-title {
  color:#000 !important;
  border-bottom:1px solid #000;
}
h2.title a:link, h2.title a:visited {
    text-decoration: none;
}
h2.title a:hover, h2.title a:active {
    text-decoration: none;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 90%;
}

h6 {
  font-size: 80%;
}

b, strong {
    font-weight: bolder;
}
i, cite, em, var, dfn {
    font-style: italic;
}
blockquote {
    background-color: #e3e3e3;
     border: 1px solid silver;
}
blockquote {
    color: #1B395B;
    line-height: 1.4em;
    margin: 0 0 1em;
    padding: 10px;
}
a, a:link, a:visited {
    color: #897600;
    text-decoration:underline;
}
a, a:hover, a:active {
    color: #897600;
    text-decoration:none;
}

div.status, table tr.ok {
    background-color: #ddd;    
}
div.status, .ok {
    color: #fff;
}
div.status {
    border-color: #fff;
    color:#000;
}
div.status a:link, div.status a:visited {
  color:#000;
}
div.status a:hover, div.status a:active {
  color:#000;
}
div.messages {
    background-position: 8px 8px;
    background-repeat: no-repeat;
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
    color:#000;
     border: 1px solid silver;
}
div.messages a:link, div.messages a:visited {
  color:#000;
}
div.messages a:hover, div.messages a:active {
  color:#000;
}
div.error, table tr.error {
    background-color: #ddd;
}
div.error, .error {
    color: #000;
}
div.warning, table tr.warning {
    background-color: #ddd;
}
div.warning, .warning {
    color: #fff;
}
div.warning a:link, div.warning a:visited {
  color:#000;
}
div.warning a:hover, div.warning a:active {
  color:#000;
}
div.error {
    border-color: #fff;
     border: 1px solid silver;
}
div.warning {
    border-color: #fff;
    color:#000;
     border: 1px solid silver;
}
p code {
    background-color: #e3e3e3;
}
p code {
    border: medium none;
    color: #000;
    display: inline;
    margin: 0;
    padding: 0 0.2em;
}
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}

/* typography styles */

.clearfix:after { /* FF, O, etc. */
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block; /* IE7xhtml*/
}

html[xmlns] .clearfix { /* O */
	display: block;
}

* html .clearfix {
	height: 1%; /* IE5-6 */
}

body {
	margin:0 auto;
	color:black;

}

a {
	text-decoration:none;
	color:#515151;
}

a:hover { color:#cdba17; }

/* header */
#header {
	height:223px;
	margin-bottom:20px;
}

#navigation {
	float:right;
	height:75px;
	overflow:hidden;
	text-align:right;
	margin-top:20px;
}
#navigation ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
  float:right;
}
#navigation ul li {
	font-size:16px;
	display:inline;
	margin:0px;
	margin-top:15px;
	border-right:1px solid #f8e122;
	border:none;
}
#navigation ul li:last-child {
  border:none;
}

#navigation ul li a {
  color:#f8e122;
  text-decoration:none;
  padding:0px 5px;
}

#navigation a:hover, #navigation .current_page_item a  { color:#fff; }

#site-title, #site-description { font-style:italic; }

#site-title {
	clear:both;
	font-weight:bold;
	padding-top:15px;
	color:#fee82e;
	margin:0px;
}

#site-title a { color:#fee82e;text-decoration:none; }

#site-title a:hover { color:#fff; }

#site-description {
	font-size:18px;
	font-weight:normal;
	color:#fff;
	margin-bottom:26px;
}

#cat-menu {
	float:left;
	position:relative;
  padding-top:15px;
}
.region-secondarymenu {
  float:right;
  text-align:right:
}
#cat-menu {
	position:relative;
	text-align:right;
	height:40px;
	margin-bottom:20px;
}
#cat-menu ul {
  margin:0px;
  padding:0px;
  text-align:right;
}
#cat-menu ul li {
	font-size:13px;
	font-style:italic;
	display:inline;
	padding:0px 15px;
	position:relative;
	border:none;
}
#cat-menu ul li a {
  color:#fff;
  border:none;
  text-decoration:none;
}
#cat-menu ul li a:hover {
  color:#ccc;
}
#cat-menu a {
	position:relative;
	z-index:2;
	color:#3e3e3e;
}

#cat-menu a:hover, #cat-menu .current-cat a {

}

#top-search-wrap {
	text-align:right;
	position:relative;
	position:relative;
	display:inline;
	height:46px;
}
.region-search-box {
  margin-top:5px;
}
.region-search-box .form-item input.form-text {
  width:280px;
  color:silver;
}

div#content {
float:left;
}
.pagetitle {
	font-weight:normal;
	font-size:18px;
	color:#2e2e2e;
	margin:0 0 8px 2px;
}

.post {
	padding:8px 8px 8px 0;
	float:left;
	width:460px;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	overflow:hidden;
}

.post.even {
	border-right:none;
	padding:8px 0 8px 8px;
}

.post .inner {
	height:262px;
	overflow:hidden;
}


div#sidebar {
	float:right;
	width:250px;
	overflow:hidden;
	display:inline;
	padding: 10px;
	background-color:#eee;
}

div#footer {
	font-style:italic;
	display: block;
	overflow: hidden;
	width:100%;
	position:relative;
	background:#ad1d1d url(../images/footer-bg.jpg) repeat;
	border-top:20px solid #000;
}

#footer p {
	text-align:center;
	color:#9c9c9c;
}

#footer-block {
	background:#f4f4f4;
	padding:5px;
	border:1px solid #e2e2e2;
}

div#footer div.clear-block{
  width: 100%;
}

.last { margin-right:0 !important; }
.submitted {
margin:10px 0px;
display:block;
font-size:16px;
font-weight:bold;
}
.comment-published a {
  text-decoration:none;
  font-size:18px;
  font-weight:normal;
}
.region-right {
  float:left;
}
.region-right p {
  margin-bottom:10px;
  padding:0px 10px;
}
.block ol {
  margin:0px;
  padding:10px;
}
.region-right h2 {
    color: #2E2E2E;
    font-style: normal;
    font-weight: normal;
    padding-top: 5px;
    font-size:20px;
    margin-bottom:10px;
    padding:0px 10px;
    margin-top:10px;
}
.block h2 {
    color: #2E2E2E;
    font-style: normal;
    font-weight: normal;
    padding-top: 5px;
    font-size:18px;
    font-weight:bold;
    margin-bottom:10px;
}
h2.with-tabs {
  font-size:26px;
}
.breadcrumb {
  margin-bottom:10px;
}
.region-right ul {
padding:0px;
margin:0px;
}
.region-right ul li {
  color:#8c8c8c;
  padding:5px 10px;
  padding-bottom:5px;
  list-style:none;
  border-bottom:1px solid #ececec;
  text-align:justify;
  background:url(../images/arrow.png) no-repeat 10px 10px;
  padding-left:20px;
}

.region-right ul li a { 
  color:#8c8c8c;
  text-decoration: none;
  display:block;
}

.region-right ul li a:hover,.more-link a:hover{
	 color:#2E2E2E;
}

.region-right ul li a { color:#3d4a4e; }

.region-right ul li a:hover {
	 color:#cdba17;
}

h2.nodetitle {
  margin:10px 0px;
  font-weight:bold;
  font-size:24px;
}
.region-footer  {
  text-align:center;
  margin-top:20px;
  color:white;
}
.region-footer ul li {
  border:none;
  color:#ccc;
  display:inline-block;
  float:none;
}
.region-footer ul li a {
  color:#ccc;
}
.region-footer ul li a:hover {
  color:#fff;
}
div#footer-content {
	text-align:center;
	padding-top:14px;
	float:left;
	position:relative;
	margin-bottom:20px;
	color:#ccc;
}

.right_con label {
	display: block;
	width: 135px;
	float: left;
	color:black;
	font-size:15px;
	margin-left: 49px;
	}
.right_con p {
	display:inline;
	color:black;
}

.right_con {
  margin: 10px;
  float: left;
}


.right_con p {
	width: 120px;
	float: left;	
	color:black;	
	font-size:15px;
}
.right_con a{
	color:black;
	font-size:15px;
	}

div.links {
margin-top:10px;
}

.region-primarynav ul.menu {
  text-align:right;
  margin:0px;
  padding:0px;
}
.region-primarynav ul.menu li {
  padding-left:0px;
}
#top-search-wrap form {
  margin-bottom:0px;
}
.node {
    padding-bottom:30px;
    border-bottom:1px solid #ddd;
}
.grippie {
  display:none;
}
.region-content p {
    margin-bottom: 10px;
    margin-top:10px;
}
.footer_zyxware {
  position:absolute;
  right:0px;
  bottom:-10px;
  font-size:8px;
  text-align:right;
  color:#8C8C8C;
  margin-right:10px;
  overflow:hidden;
}
.footer_zyxware a:link,.footer_zyxware a:visited {
  color:#897600;
  text-decoration:none;
}
.field-label {
  float:left;
  
}
.post-tags .field-item {
  float:left;
  margin-right:5px; 
   background-color: #DDDDDD;
  background-image: -moz-linear-gradient(center top , #EEEEEE, #DDDDDD);
  background-repeat: repeat-x;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #CD4517;
  display: inline-block;
  text-shadow: 0 1px 0 #FFFFFF;
  margin:20px 5px 10px 0px;
}
.field-item {
  
}
ul.inline li {
  margin-left:0px;
  padding-left:0px;
  padding-right:10px;
}
th,td {
  border:1px solid silver;
  padding:5px;
}
.feed-icon {
  float:left;
  margin:10px 0px;
}

.post-tags{
 overflow:hidden;
}

.post-tags a{
	color:#CDBA17;
	text-decoration: none;
	padding:3px 6px;
	font-size:15px;
	display:block;
}

.post-tags a:hover{
  background-color:#999999;
	border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} 

.post-tags .field-label {
  display:none;
}

#top-bar-sub form {
  padding: 0px;
  border: none;
  background: #f8f8f8;
}

.node .field-type-image img {
  float:left;
  margin-right:10px;
  margin-bottom:10px;
}
.node .field-item p {
  display:inline;
}
#nav ul {
    float: right;
    padding-bottom: 0px;
    padding-left: 15px;
    margin-left:40px;
    list-style-type: none;
    padding-right: 15px;
    padding-top: 0px;margin-top:20px;
}
#nav li {
    float: left;
    font-weight: 400;
    list-style-type: none;
}
#nav li a {
  font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat";
  font-size: 15px;
  font-weight: normal;color: #F8E122;
  display: block;
  padding: 10px 10px 10px 10px;
  position: relative;
  text-decoration: none;
}
#nav li a:hover, #nav li a:active, #nav a.active {
    color: #FFFFFF;
}
#nav li a .sf-sub-indicator {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    text-indent: -9999px;
}
#nav li li a, #nav li li a:link,#nav li li a:visited {
    background-color: #12263B;
    border-top-width: 0;
    color: #E7E7E7;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    text-transform: none;
    width: 140px;
}
#nav li li a:hover, #nav li li a:active {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #01152A;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    
    background-size: auto auto;
    color: #FFFFFF;
}
#nav li ul {
    height: auto;
    left: -9999px;
    margin-bottom: 0;
    margin-left: 1px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    width: 160px;
    z-index: 9999;
}
#nav li ul a {
    width: 160px;
}
#nav li ul ul {
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 0;
    margin-top: -40px;
}
#nav li:hover > ul, #nav li.sfHover ul {
    left: auto;
}
#nav ul li.leaf, #nav ul li.expanded, #nav ul li.collapsed {
    list-style-image: none !important;
    list-style-position: outside;
    list-style-type: none;
}
#nav ul.menu li {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
#nav li.expanded, #nav li.collapsed, #nav li.leaf {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    /*padding-bottom: 10px;*/
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    z-index:1000;
}
#nav li li a,
#nav li li a:link,
#nav li li a:visited {
  background-color: #505050;
  color:#F8E122;
  //opacity:0.9;
}

#nav li li a:hover,
#nav li li a:active {
  background: #292929;color:#ffffff;
}



